    <!-- footer -->
    <footer id="footer" class="p-4 bg-teal-500">
      <div class="text-center">
        <p class="text-sm leading-6 text-white md:order-1">
          &copy;{{ "now" | date: "%Y" }} World Concern is part of <a href="/about/financials" title="View our financials">CRISTA Ministries, a 501(c)(3) charity.</a> | <a class="text" href="/privacy" title="Read Our Privacy Policy">Privacy Policy</a>
        </p>
      </div>
    </footer>
    <!-- / footer -->
    {% include footer_scripts_donate.html %}