{{ meta.footer_scripts }}
{{ footer_scripts }}

<!-- AdRoll -->
<script type="text/javascript">
  adroll_adv_id = "DWGEY33LBVHBJGIBXDCKK2";
  adroll_pix_id = "AW5AVU45KND3RCWX4JGVGI";
  adroll_email = "josephl@worldconcern.org";
  (function () {
    var _onload = function () {
      if (document.readyState && !/loaded|complete/.test(document.readyState)) {
        setTimeout(_onload, 10);
        return;
      }
      if (!window.__adroll_loaded) {
        __adroll_loaded = true;
        setTimeout(_onload, 50);
        return;
      }
      var scr = document.createElement("script");
      var host = "https:" == document.location.protocol
        ? "https://s.adroll.com"
        : "http://a.adroll.com";
      scr.setAttribute("async", "true");
      scr.type = "text/javascript";
      scr.src = host + "/j/roundtrip.js";
      ((document.getElementsByTagName("head") || [null])[0] || document.getElementsByTagName("script")[0].parentNode).appendChild(scr);
    };
    if (window.addEventListener) {
      window.addEventListener("load", _onload, false);
    } else {
      window.attachEvent("onload", _onload);
    }
  })();
</script>


<script type="text/javascript">
  //EOY Lightbox Cookie
  function showLightbox() {
    if( {{ site.eoy_lightbox == true }} ) {
      if( {{ site.eoy_lightbox_expiration_days }} == 0 ) {
        return true;
      }

      if (Cookies.get('wc-eoy-lightbox') == null) {
        //set cookie
        Cookies.set('wc-eoy-lightbox', 'yes', {
          expires: parseInt({{ site.eoy_lightbox_expiration_days }})
        }); 
        //show popup
        return true;
      } 
    } 
    
    return false;
  }
</script>

{% if site.meta.countdown_date != "" %}
<script type="text/javascript">
  // Coundtdown Timer JS
  function updateTimer() {
    future = Date.parse("{{ site.countdown_date }}");
    now = new Date();
    diff = future - now;

    days = Math.floor(diff / (1000 * 60 * 60 * 24));
    hours = Math.floor(diff / (1000 * 60 * 60));
    mins = Math.floor(diff / (1000 * 60));
    secs = Math.floor(diff / 1000);

    d = days;
    h = hours - days * 24;
    m = mins - hours * 60;
    s = secs - mins * 60;

    var timer = document.getElementsByClassName("timer");
    for (var i = 0; i < timer.length; i++) {
      if(diff < 0){
        timer[i].style.display = 'none';
      }
      else {
        timer[i].innerHTML =
          '<span class="font-bold bg-red-700 bg-opacity-90 rounded-sm md:rounded-md w-10 md:w-16">' +
          d +
          '<span class="text-xs uppercase font-semibold"> D </span></span>' +
          '<span class="font-bold bg-red-700 bg-opacity-90 rounded-sm md:rounded-md w-10 md:w-16">' +
          h +
          '<span class="text-xs uppercase font-semibold"> H </span></span>' +
          '<span class="font-bold bg-red-700 bg-opacity-90 rounded-sm md:rounded-md w-10 md:w-16">' +
          m +
          '<span class="text-xs uppercase font-semibold"> M </span></span>' +
          '<span class="font-bold bg-red-700 bg-opacity-90 rounded-sm md:rounded-md w-10 md:w-16">' +
          s +
          '<span class="text-xs uppercase font-semibold"> S </span></span>';
      }
    }
  }
  setInterval("updateTimer()", 1000);
</script>
{% endif %}
{{ footer }}