  <!-- how we help -->
  <section class="py-18 bg-dkgray-100">
    <div class="xxl:container flex flex-col md:flex-row justify-between space-y-8 md:space-y-0 md:space-x-12 lg:max-w-5xl xl:max-w-6xl sm:mx-auto px-4 sm:px-12 lg:px-4 xxl:px-8 items-start lg:items-center xxl:items-end">
      <div class="md:w-1/2 lg:w-1/3 my-2 sm:my-0">
        <h3>How We Help</h3>
        <p>The context in each village is unique. We start with the most critical, urgent needs: water, food, and safety. Long-term, families are equipped to earn income and support themselves. They become healthier, and begin to save and plan for the future. And through it all, they experience the transformative power of God’s love.</p>
        <p class="font-bold">Learn more about World Concern’s focus areas by clicking the buttons to the right.</p>
      </div>

      <!-- buttons -->
      <div class="grid w-full grid-cols-1 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-8 md:place-content-start md:w-1/2 lg:w-2/3">
        <a href="/what-we-do/clean-water-health" class="wc-icon-btn wc-btn-white">
          <div class="w-14">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" height="40" viewBox="0 0 40 40">
              <defs>
                <clipPath id="clip-icon_water-health">
                  <rect width="40" height="40"/>
                </clipPath>
              </defs>
              <g id="icon_water-health" clip-path="url(#clip-icon_water-health)">
                <rect width="40" height="40" fill="none"/>
                <g id="Group_245" data-name="Group 245">
                  <path id="Path_4732" data-name="Path 4732" d="M24.442,15.55c0-4.906-3.367-8.884-7.521-8.884H0V36.749H9.4V15.55H24.442Z" transform="translate(5 0.854)" fill="#565656"/>
                  <path id="Path_4733" data-name="Path 4733" d="M9.4,3.76H26.322V0H0v5.64H9.4Z" transform="translate(5 0)" fill="#565656"/>
                  <path id="Path_4734" data-name="Path 4734" d="M26.514,26.769,24.194,22.9l-3.742-6.236L16.711,22.9l-2.32,3.867c-2.736,4.56.109,10.639,5.41,11.07.215.017.432.026.652.026s.437-.009.652-.026c5.3-.431,8.145-6.51,5.409-11.07" transform="translate(6.707 2.135)" fill="#03aeb3"/>
                </g>
                <rect id="Rectangle_1132" data-name="Rectangle 1132" width="29.28" height="40" transform="translate(5)" fill="none"/>
              </g>
            </svg>
          </div>
          Clean Water & Health
        </a>
        <a href="/what-we-do/food-nutrition" class="wc-icon-btn wc-btn-white">
          <div class="w-14">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" height="40" viewBox="0 0 40 40">
              <defs>
                <clipPath id="clip-icon_food-nutrition">
                  <rect width="40" height="40"/>
                </clipPath>
              </defs>
              <g id="icon_food-nutrition" clip-path="url(#clip-icon_food-nutrition)">
                <rect width="40" height="40" fill="none"/>
                <g id="Group_244" data-name="Group 244">
                  <path id="Path_4735" data-name="Path 4735" d="M25.26,19.94l-9.442-7.406L11.336,9.019l9.7,19.945a9.93,9.93,0,0,0,11.875-3.019Z" transform="translate(4.268 1.804)" fill="#e0aa0d"/>
                  <path id="Path_4736" data-name="Path 4736" d="M12.5,15.217,10,10.092V32.275a9.933,9.933,0,0,0,12,2.482l-4.256-8.749Z" transform="translate(4 2.018)" fill="#e0aa0d"/>
                  <path id="Path_4737" data-name="Path 4737" d="M6,8.781a10.14,10.14,0,0,0-4.187,3.45c-.079.114-.157.229-.232.346A10.43,10.43,0,0,0,0,18.1C0,18.776,0,29.789,0,29.937a9.868,9.868,0,0,0,10,9.73v-38H6Z" transform="translate(2 0.333)" fill="#e0aa0d"/>
                  <path id="Path_4738" data-name="Path 4738" d="M30,0H22.5L20,4V0A10,10,0,0,0,10,10H20A10,10,0,0,0,30,0" transform="translate(4 0)" fill="#565656"/>
                </g>
                <rect id="Rectangle_1133" data-name="Rectangle 1133" width="35.182" height="40" transform="translate(2)" fill="none"/>
              </g>
            </svg>
          </div>
          Food & Nutrition
        </a>
        <a href="/what-we-do/child-protection" class="wc-icon-btn wc-btn-white">
          <div class="w-14">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" height="40" viewBox="0 0 40 40">
              <defs>
                <clipPath id="clip-path">
                  <rect id="Rectangle_1134" data-name="Rectangle 1134" width="35.555" height="40" fill="none"/>
                </clipPath>
                <clipPath id="clip-icon_child-protection">
                  <rect width="40" height="40"/>
                </clipPath>
              </defs>
              <g id="icon_child-protection" clip-path="url(#clip-icon_child-protection)">
                <rect width="40" height="40" fill="none"/>
                <g id="Group_242" data-name="Group 242" transform="translate(2)">
                  <g id="Group_241" data-name="Group 241" clip-path="url(#clip-path)">
                    <path id="Path_4739" data-name="Path 4739" d="M11.444,21.642l-.467-.5a5.085,5.085,0,0,1,0-6.915,4.676,4.676,0,0,1,6.8-.065V0L0,8.89C0,28.89,17.777,40,17.777,40V28.383Z" fill="#565656"/>
                    <path id="Path_4740" data-name="Path 4740" d="M14.667,0V14.166c.023.024.051.04.074.065l.278.295.278-.295a4.681,4.681,0,0,1,6.875,0,5.083,5.083,0,0,1,0,6.915l-.467.5-6.686,7.115-.352-.375V40S32.444,28.888,32.444,8.888Z" transform="translate(3.111)" fill="#e03726"/>
                    <path id="Path_4741" data-name="Path 4741" d="M9.294,12a5.085,5.085,0,0,0,0,6.915l.467.5,6.333,6.741.353.375,6.686-7.115.465-.5A5.083,5.083,0,0,0,23.6,12a4.683,4.683,0,0,0-6.875,0l-.276.295L16.17,12c-.023-.025-.051-.041-.075-.065a4.676,4.676,0,0,0-6.8.065" transform="translate(1.684 2.228)" fill="#fff"/>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          Child Protection
        </a>
        <a href="/what-we-do/spiritual-transformation" class="wc-icon-btn wc-btn-white">
          <div class="w-14">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" height="40" viewBox="0 0 40 40">
              <defs>
                <clipPath id="clip-icon_spiritual-transformation">
                  <rect width="40" height="40"/>
                </clipPath>
              </defs>
              <g id="icon_spiritual-transformation" clip-path="url(#clip-icon_spiritual-transformation)">
                <rect width="40" height="40" fill="none"/>
                <g id="Group_243" data-name="Group 243" transform="translate(5.001 -0.001)">
                  <rect id="Rectangle_1135" data-name="Rectangle 1135" width="9.524" height="9.523" transform="translate(10.477 0.001)" fill="#565656"/>
                  <rect id="Rectangle_1136" data-name="Rectangle 1136" width="9.524" height="19.047" transform="translate(10.477 20.954)" fill="#565656"/>
                  <path id="Path_4742" data-name="Path 4742" d="M20,8.333H0v9.524H30.477V8.333Z" transform="translate(0 1.191)" fill="#b6c659"/>
                </g>
              </g>
            </svg>
          </div>
          Spiritual Transformation
        </a>
        <a href="/what-we-do/economic-empowerment" class="wc-icon-btn wc-btn-white">
          <div class="w-14">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" height="40" viewBox="0 0 40 40">
              <defs>
                <clipPath id="clip-icon_economic-empowerment">
                  <rect width="40" height="40"/>
                </clipPath>
              </defs>
              <g id="icon_economic-empowerment" clip-path="url(#clip-icon_economic-empowerment)">
                <rect width="40" height="40" fill="none"/>
                <g id="Group_246" data-name="Group 246">
                  <rect id="Rectangle_1128" data-name="Rectangle 1128" width="8.333" height="11.666" transform="translate(0 27.228)" fill="#95a449"/>
                  <rect id="Rectangle_1129" data-name="Rectangle 1129" width="8.333" height="16.666" transform="translate(15.834 22.228)" fill="#95a449"/>
                  <rect id="Rectangle_1130" data-name="Rectangle 1130" width="8.333" height="21.667" transform="translate(31.666 17.227)" fill="#95a449"/>
                  <path id="Path_4731" data-name="Path 4731" d="M4.825,18.947a3.152,3.152,0,0,0,3.043-2.356l10.178-4.363A3.119,3.119,0,0,0,22.6,10.276l10.18-4.363a3.122,3.122,0,0,0,1.515.4,3.158,3.158,0,1,0-3.043-3.959L21.076,6.719a3.118,3.118,0,0,0-4.557,1.954L6.339,13.034a3.122,3.122,0,0,0-1.515-.4,3.158,3.158,0,1,0,0,6.316" transform="translate(0.439 1)" fill="#565656"/>
                  <rect id="Rectangle_1131" data-name="Rectangle 1131" width="40" height="37.894" transform="translate(0 1)" fill="none"/>
                </g>
              </g>
            </svg>
          </div>
          Economic Empowerment</a
        >
        <a href="/what-we-do/disaster-response" class="wc-icon-btn wc-btn-white">
          <div class="w-14">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" height="40" viewBox="0 0 40 40">
              <defs>
                <clipPath id="clip-icon_disaster-response">
                  <rect width="40" height="40"/>
                </clipPath>
              </defs>
              <g id="icon_disaster-response" clip-path="url(#clip-icon_disaster-response)">
                <rect width="40" height="40" fill="none"/>
                <g id="Group_247" data-name="Group 247">
                  <path id="Path_4728" data-name="Path 4728" d="M22.829,0,20,2.828,17.173,0,14.344,2.828l2.639,2.641L6,13.314l-6,24H8l3.6-14.33,4.225-3H12V14.647h5.333V9.314h5.334v5.333H28v5.334H24.174l4.227,3L32,37.315h8l-6-24L23.018,5.469l2.64-2.641Z" transform="translate(0 1)" fill="#e66053"/>
                  <path id="Path_4729" data-name="Path 4729" d="M21.334,16.651v5.333H16V16.651H14.493l-4.225,3-3.6,14.33h24l-3.6-14.33-4.227-3Z" transform="translate(1.332 4.331)" fill="#565656"/>
                  <path id="Path_4730" data-name="Path 4730" d="M15.333,23.762h5.333V18.429H26V13.094H20.666V7.761H15.333v5.333H10v5.334h5.333Z" transform="translate(2 2.553)" fill="#fff"/>
                </g>
              </g>
            </svg>
          </div>
          Disaster Response
        </a>
      </div>
      <!-- / buttons -->
    </div>
  </section>
  <!-- / how we help -->