{% include 'includes/head' %}

<body class="{{slug}}" x-data="{ modalOpen : false }" @keydown.escape="modalOpen = false" x-cloak>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MPCCNJ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% include 'includes/topnav' %}
  {% include 'includes/banner_onevillage' %}
  {{ content }}
  {% include 'includes/footer' %}
</body>

</html>